body {
  font:
    15px arial,
    sans-serif;
  background-color: #d9d9d9;
  padding-top: 15px;
  padding-bottom: 15px;
}

#chatborder {
  border-style: solid;
  background-color: #f6f9f6;
  border-width: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 15px;
}

#chatbox {
  font:
    17px arial,
    sans-serif;
  width: 100%;
}

.question {
  background-color: rgb(219, 250, 255);
  padding: 10px;
  border-radius: 10px;
}

.answer {
  background-color: rgb(228, 248, 229);
  padding: 10px;
  border-radius: 10px;
}

.chatwrapper {
  border-radius: 12px;
  border: 1px solid #dfe1e5;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.chatinput::placeholder {
  line-height: 1.5em;
}

.chatwrapper:hover,
.chatwrapper:focus {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

.chatinput {
  display: block;
  height: 56px;
  width: 80%;
  border: 0;
  border-radius: 12px;
  outline: none;
  font-size: 1.2rem;
  color: #000;
  background-position: left 17px center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 1.5%;
  padding-left: 60px;
}
